{% extends "base.html" %}

{% block main %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Cambiar Contraseña</h3>
        </div>
        <div class="card-body">
          <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="text-center">
              <button type="submit" class="btn btn-primary">Cambiar</button>
            </div>
          </form>
        </div>
        <div class="card-footer text-center">
          <a href="{% url 'user_detail' user.id %}" class="btn btn-secondary">Regresar</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
